{{ school | json }}

<mat-card class="form-container">
  <form [formGroup]="formGroup" (submit)="handleSubmit()">
    <mat-form-field class="schoolDetails" appearance="fill">
      <mat-label>School Name</mat-label>
      <input formControlName="name" matInput />
      <mat-error *ngIf="formGroup.get('name')?.errors?.['required']"
        >School name is required.</mat-error
      >
      <mat-error *ngIf="formGroup.get('name')?.errors?.['maxlength']"
        >Min length is 3 symbols.</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      id="submit"
      type="submit"
      [disabled]="formGroup.invalid"
    >
      Submit
    </button>
  </form>
</mat-card>
