<!-- {{ school | json }} -->
<mat-card class="form-container">
  <form [formGroup]="formGroup" (submit)="handleSubmit()">
    <mat-form-field class="schoolDetails" appearance="fill">
      <mat-label>School Name</mat-label>
      <input formControlName="name" matInput />
      <mat-error *ngIf="formGroup.get('name')?.errors?.['required']"
        >School name is required.</mat-error
      >
      <mat-error *ngIf="formGroup.get('name')?.errors?.['minlength']"
        >Min length is 6 symbols.</mat-error
      >
      <mat-error *ngIf="formGroup.get('name')?.errors?.['maxlength']"
        >Max length is 45 symbols.</mat-error
      >
    </mat-form-field>

    <label id="radio-group-label">School type</label>
    <mat-radio-group
      formControlName="types"
      class="radio-group"
      aria-labelledby="radio-group-label"
    >
      <mat-radio-button
        class="radio-btn"
        *ngFor="let type of types"
        [value]="type"
        [checked]="type === school.type"
        >{{ type }}</mat-radio-button
      >
    </mat-radio-group>

    <div class="buttonsContainer">
      <button mat-raised-button type="button" (click)="editClasses()">
        Edit Classes
      </button>

      <button mat-raised-button type="button" (click)="editTeachers()">
        Edit Teachers
      </button>
      <button mat-raised-button type="button" (click)="editStudents()">
        Edit Students
      </button>
      <button
        mat-raised-button
        id="submit"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        Change
      </button>
    </div>
  </form>
</mat-card>
