form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; 
}

button {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.formDetails {
    width: 30%;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
}