<mat-card class="form-container">
  <form [formGroup]="formGroup" (submit)="handleSubmit()">
    <mat-form-field class="schoolDetails" appearance="fill">
      <mat-label>Full Name</mat-label>
      <input formControlName="fullName" matInput />
      <mat-error *ngIf="formGroup.get('fullName')?.errors?.['required']"
        >Teacher name is required.</mat-error
      >
      <mat-error *ngIf="formGroup.get('fullName')?.errors?.['minlength']"
        >Min length is 3 symbols.</mat-error
      >
      <mat-error *ngIf="formGroup.get('fullName')?.errors?.['maxlength']"
        >Max length is 60 symbols.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="schoolDetails" appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
      <mat-error *ngIf="formGroup.get('email')?.errors?.['required']"
        >Teacher email is required.</mat-error
      >
      <mat-error *ngIf="formGroup.get('email')?.errors?.['minlength']"
        >Min length is 3 symbols.</mat-error
      >
      <mat-error *ngIf="formGroup.get('email')?.errors?.['maxlength']"
        >Max length is 45 symbols.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="schoolDetails" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide Password'"
        [attr.aria-pressed]="hidePassword"
        type="button"
      >
        <mat-icon matSuffix>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.get('password')?.errors?.['required']"
        >Teacher password is required.</mat-error
      >
      <mat-error *ngIf="formGroup.get('password')?.errors?.['minlength']"
        >Min length is 3 symbols.</mat-error
      >
      <mat-error *ngIf="formGroup.get('password')?.errors?.['maxlength']"
        >Max length is 45 symbols.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="schoolDetails" appearance="fill">
      <mat-label>Repeat Password</mat-label>
      <input formControlName="repeatPassword" matInput [type]="'password'" />

      <mat-error *ngIf="formGroup.hasError('notSame')">
        Passwords don't match
      </mat-error>

      <mat-error *ngIf="formGroup.get('repeatPassword')?.errors?.['required']"
        >Teacher repeated password is required.</mat-error
      >
      <mat-error *ngIf="formGroup.get('repeatPassword')?.errors?.['minlength']"
        >Min length is 3 symbols.</mat-error
      >
      <mat-error *ngIf="formGroup.get('repeatPassword')?.errors?.['maxlength']"
        >Max length is 45 symbols.</mat-error
      >
    </mat-form-field>

    <div class="buttonsContainer">
      <button
        mat-raised-button
        id="submit"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
